@import "/node_modules/include-media/dist/include-media";

$green: #00d25b;
$hover_green: #00ac4a;
@mixin flex($horizontal, $vertical) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}

$breakpoints: (
  xsphone: 0px,
  phone: 576px,
  tablet: 768px,
  laptop: 992px,
  desktop: 1200px,
  xldesktop: 1400px,
);
